version: '3.4'
services:
  mongo_db:
    image: mongo:latest
    container_name: 'dstore-db-local'
    restart: unless-stopped
    environment:
      MONGO_INITDB_DATABASE: $MONGODB_DATABASE        # initial database to create
      MONGO_INITDB_ROOT_USERNAME: $MONGODB_USER   # container root username
      MONGO_INITDB_ROOT_PASSWORD: $MONGODB_PASSWORD   # container root password
    volumes: 
      - ./db/init.js:/docker-entrypoint-initdb.d/init-mongo.js:ro
      # to persist db data on local machine
      - db:/data/db
    ports:
      - $MONGODB_LOCAL_PORT:$MONGODB_DOCKER_PORT
    networks:
      - app-network
  
  mongo-express:
    depends_on:
      - mongo_db
    image: mongo-express:latest
    container_name: 'dstore-db-admin-local'
    restart: unless-stopped
    environment:
      ME_CONFIG_MONGODB_AUTH_DATABASE: $MONGODB_DATABASE
      ME_CONFIG_MONGODB_ADMINUSERNAME: $MONGODB_USER
      ME_CONFIG_MONGODB_ADMINPASSWORD: $MONGODB_PASSWORD
      ME_CONFIG_MONGODB_PORT: $MONGODB_LOCAL_PORT
      ME_CONFIG_MONGODB_SERVER: mongodb
      ME_CONFIG_MONGODB_ENABLE_ADMIN : "true"
    ports:
        - $DB_ADMIN_LOCAL_PORT:$DB_ADMIN_DOCKER_PORT
    networks:
      - app-network

  clothingStoreApi:
    depends_on:
      - mongo_db
    image: clothing-store-api-local
    container_name: 'dstore-api-local'
    build:
      context: api
      dockerfile: ./DockerLocalFile
    restart: unless-stopped
    env_file: ./.env
    ports:
      - $NODE_LOCAL_PORT:$NODE_DOCKER_PORT
    environment:
      - DB_HOST=mongodb
      - DB_USER=$MONGODB_USER
      - DB_PASSWORD=$MONGODB_PASSWORD
      - DB_NAME=$MONGODB_DATABASE
      - DB_PORT=$MONGODB_DOCKER_PORT
      - CLIENT_ORIGIN=$CLIENT_ORIGIN
      - NODE_ENV=development
    volumes:
      - ./api/:/dstore
      - /dstore/node_modules
    networks:
      - app-network
  
  clothingStoreWeb:
    depends_on:
      - clothingStoreApi
    image: clothing-store-web-local
    container_name: 'dstore-web-local'
    build:
      context: web
      args:
        - REACT_APP_API_BASE_URL=$CLIENT_API_BASE_URL
      dockerfile: ./DockerLocalFile
    volumes:
      - ./web/:/dstore
      - /dstore/node_modules
    ports:
      - $REACT_LOCAL_PORT:$REACT_DOCKER_PORT_DEV
    networks:
      - app-network 

volumes: 
  db:
  node_modules:

networks:
  app-network:
